body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(1,2,14,255);
}

header {
    padding: 10px;
    background-image: linear-gradient(to right,rgba(242,28,79,100),rgba(190,27,113,100),rgba(141,24,144,100));
    display:flex;
    justify-content: space-between;
    
}

.title{
    margin-left:300px;
    font-family: 'Noto Serif'
}
.navbar {

    justify-content: center;
    align-items: center;
    text-align: right;
    padding: 20px 0;
    width: 400px;
    margin:10px;
    margin-right:300px;
    font-family: 'Noto Serif'
}

a {
    margin:10px;
    color: white; 
    text-decoration: none;
}

.magnifier{

    font-size: 24px;
}

section {  
    justify-content:center;
    text-align: center;
    font-family: 'Noto Serif'
}

.magnifier {
    background-color: #12b4f1; /* Green */
    border: none;
    border-radius: 24px;
    transition-duration: 0.5s;
    padding: 5px 80px;
    text-align: center;
    font-size: 16px;
    margin-right:30px
  }

.magnifier:hover{
    background-color:#f8b9f9;
}

.searchbar{
    padding: 13px 140px;
    text-align: center;
    border: none;
    transition-duration: 0.5s;
    font-size: 18px;
    margin-left:30px;
    border-radius: 24px;
    outline: none;
    font-family: 'Noto Serif'
}

.searchbar:hover{
    background-color:#f8b9f9;
 }

.search{
    display:flex;
    justify-content:center;
    margin-bottom: 150px;
}

.column {
    float: left;
    width: 30%;
    padding: 20px;
    text-align:center
  }
  
  /*Clear floats after image containers*/
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

footer{
    
    color:#12b4f1;
    padding: 30px;
    background-color: #030d1e;
    position: relative;
    bottom: 0;
    width:100%;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:0px;
    margin-top:10px;
  }

  .box>* {
    flex: 1 1 100%;
  }

  .foot1{
    text-align: center;
    font-family: 'Noto Serif'
  }
  
  .foot2{
    text-align: center;
    font-family: 'Noto Serif'
  }
  
  .foot3{
    text-align: center;
    font-family: 'Noto Serif';
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:20px;
    
  }

  .regulations {
    background-color: #12b4f1;
    border: none;
    border-radius: 24px;
    transition-duration: 0.5s;
    text-align: center;
    font-size: 16px;
    margin-right: 10px;
  }

  .regulations:hover{
    background-color:#f8b9f9;
}

.facebook {
    background-color: #12b4f1;
    border: none;
    border-radius: 24px;
    transition-duration: 0.5s;
    text-align: center;
    font-size: 16px;
    margin-right: 10px;

  }

  .facebook:hover{
    background-color:#f8b9f9;
}

.instagram {
    background-color: #12b4f1;
    border: none;
    border-radius: 24px;
    transition-duration: 0.5s;
    text-align: center;
    font-size: 16px;
    margin-right: 10px;
  }

  .instagram:hover{
    background-color:#f8b9f9;
}

.bottom-icon{
    display: flex;
    margin-right: 10px;
}

.photo-icon-heart{
    display:inline-block;
    margin: 25px;
    background-color: #12b4f1;
    border: none;
    border-radius: 24px;
}

.photo-icon-heart:hover{
    background-color:#f8b9f9;
}

.photo-icon-heart-dislike{
    display:inline-block; 
    margin: 25px;
    background-color: #fb1d4a;
    border: none;
    border-radius: 24px;
}

.photo-icon-heart-dislike:hover{
    background-color:#f8b9f9;
}

.photo-icon-comment{
    display:inline-block;
    margin: 25px;
    background-color: #861994;
    border: none;
    border-radius: 24px;
}

.photo-icon-comment:hover{
    background-color:#f8b9f9;
}

h3 {
    font-weight: normal;
    color: #12b4f1;
    font-family: 'Noto Serif';
}

.footer-link{
    color:#12b4f1
}

